body{
  margin:auto 0;
}


.zone {
/*    padding: 30px 50px;
    margin: 40px 60px;*/
    cursor:pointer;
 /*   display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius: 4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

/*NAV*/

.main-nav{
display: flex;
list-style: none;
font-size:0.7em;
margin: 0px;
}
.sticky{
  position:fixed;
  top:0;
  width:100%;
}

@media only screen and (max-width: 600px){
  .main-nav {
    font-size: 0.5em;
    padding:0;
  }
}


li{
  padding: 20px;
}
.push{
  margin-left:auto;
}

a {
  color:#f5f5f6;
  text-decoration: none;
}

.cover{
  width:20rem;
}

/*cover*/
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:50vh;
}


.grid-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.box> img{
  width:100%;
}

.box {
  background-color: #444;
  padding:130px;
  margin:20px;

}
footer{
  text-align: center


}
.zone:hover {
    background: rgba(212,228,239,1);
}

.box:hover{
    -webkit-transform:rotate(-7deg);
}

.green {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,10,0.7013305322128851) 25%, rgba(0,212,255,1) 89%);
}

.red{
    background: rgba(248,80,50,1);
}

.blue{
    background: rgba(73,155,234,1);
}

.yellow{
    background: rgba(241,231,103,1);
}
