*{
  box-sizing: border-box;
}

.flex-container {
  display: flex;

  justify-content: center;
  padding: 15px;
  border: 5px solid red;
  align-items: center;
  height: 300px;
}

.flex-container div{
  width:100%;
  /*height: 100px;*/
  margin:0px;

  text-shadow:2px 2px 6px #000;
  text-align: center;


  font-size: 40px;
  color:white;
  font-weight: bold;
  align-items: stretch;
  height: 200px;
  padding: 70px;


}



